<!DOCTYPE html>
<html>
  <% include ../includes/index_header %>
  <body>
    <% include ../includes/index_navbar %>
        <div class="container-fluid">
            <div class="row">
                <% include ../includes/admin/admin_navbar_left %>
                <div class="col-md-8">
                <h4>Sites</h4>
                <p><%- messages() %></p>
                <% if (sites.length > 0) { %>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Site</th>
                                <th>Created</th>
                                <th>Members</th>
                                <th>Tab Server Viz</th>
                                <th>Trusted Login</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% for(var i = 0; i < sites.length; i++) { %>
                            <tr>
                                <td><a href="/site/<%= sites[i].siteName %>"><%= sites[i].siteName %></a</td>
                                <td><%= moment(sites[i].createdDate).format('MMM D, YYYY hh:mm') %></td>
                                <td><%= sites[i].allowedUsers.length %></td>
                                <td><%= sites[i].isTabServerViz %></td>
                                <td><%= sites[i].trustedLogin %></td>
                                <td>
                                    <a href="sites/edit/<%= sites[i].slug %>">Edit</a> | 
                                    <a href="sites/remove/<%= sites[i].slug %>">Remove</a>
                                </td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                <% } else { %>
                    <p>No sites found</p>
                <% } %>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>