<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
  </head>
  <body>
    <h3><a href="/admin">Admin</a></h3>
    <h4><a href="/admin/sites/new">Add New Site</a></h4>
    <h4>All Sites</h4>
    <p><%- messages() %></p>
    <ul>
    <% if (sites.length > 0) { %>
        <% for(var i = 0; i < sites.length; i++) { %>
            <li>
                <%= "site name: " + sites[i].siteName %>
                <%= "created: " + sites[i].createdDate %>
                <%= "allowed users: " + sites[i].allowedUsers %>
                <%= "site Url: " + sites[i].siteUrl %>
                <%= "private: " + sites[i].isPrivate %>
                <a href="/admin/sites/edit/<%= sites[i].siteName %>">edit</a>
                <a href="/admin/sites/remove/<%= sites[i].siteName %>">remove</a>
            </li>
        <% } %>
    <% } else { %>
        <p>No sites found</p>
    <% } %>
    </ul>
    </body>
</html>