<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
  </head>
  <body>
    <h3><a href="/admin">Admin</a></h3>
    <h4>Edit User</h4>
    <p>Username: <%= (user.username) %></p>
    <p>Admin: <%= (user.isAdmin) %></p>
    <p>Reg Date: <%= (user.regDate) %></p>
    <p>Last Login: <%= user.lastLogin %></p>

    <form method="POST" action="/admin/user/<%= (user._id) %>">
      <p>
        <label>Username:</lable>
        <input type="text" name="username" value="<%= (user.username) %>">
      </p>
      <p>
        <label>Is Admin:</lable>
        <select name="isAdmin">
          <% if (user.isAdmin) { %>
            <option value=true>True</option>
            <option value=false>False</option>
          <% } else { %>
            <option value=false>False</option>
            <option value=true>True</option>
          <% } %>
        </select>
      </p>
      <p>
        <input type="submit" value="Save">
      </p>
    </form>

  </body>
</html>