<!DOCTYPE html>
<html>
  <% include ../includes/index_header %>
  <body>
    <% include ../includes/index_navbar %>
        <div class="container-fluid">
            <div class="row">
                <% include ../includes/admin/admin_navbar_left %>
                <div class="col-md-8">
                <h4>All Users</h4>
                <p><%- messages() %></p>
                <% if (users.length > 0) { %>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Is Admin</th>
                                <th>Created</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                    <tbody>
                    <% for (var i = 0; i < users.length; i++) { %>
                        <tr>
                            <td><a href="/user/<%= users[i].username %>"><%= users[i].username %></a></td>
                            <td><%= users[i].isAdmin %></td>
                            <td><%= users[i].regDate %></td>
                            <td>
                            <a href="/admin/users/edit/<%= users[i].username %>">Edit</a> | 
                            <a href="/admin/users/remove/<%= users[i].username %>">Remove</a>
                            </td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
                <% } else { %>
                    <p>No users found</p>
                <% } %>
                </div>
                </div>
            </div>
        </div>
    </body>
</html>