<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
  </head>
  <body>
    <h4>Sites</h4>
    <p><%- messages() %></p>
    <ul>
    <% if (sites.length > 0) { %>
        <% for(var i = 0; i < sites.length; i++) { %>
            <li>
                <a href="/site/<%= sites[i].siteName %>">
                    <%= sites[i].siteName %>
                </a>
                <%= "created: " + sites[i].createdDate %>
                <%= "allowed users: " + sites[i].allowedUsers %>
                <%= "site Url: " + sites[i].siteUrl %>
                <%= "private: " + sites[i].isPrivate %>
            </li>
        <% } %>
    <% } else { %>
        <p>No sites found</p>
    <% } %>
    </ul>
    </body>
</html>