<!DOCTYPE html>
<html>
  <head>
    <title>User Site</title>
    <script src="https://public.tableau.com/javascripts/api/tableau-2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  </head>
  <body>
    <%= site %>
    <p><%- messages() %></p>
    <p><a href="/user/<%= user.username %>"<p><%= (user.username) %></p></a>
    <% if (user.isAdmin) { %>
      <p><a href="/admin">Admin Site</a></p>
    <% } %>
    <p><a href="/logout">Logout</a></p>
    <div id="vizContainer"></div>
  </body>
    <script>
    function initViz() {
      // http://tabserver/trusted/<ticket>/t/Sales/views/<workbook>/<view> 
      var trustedUrl = "http://<site-url>/trusted/<trusted ticket>/t/<site-name>/views/<workbook name>/<view>",
          containerDiv = document.getElementById("vizContainer"),
          url = "<%= (site.siteUrl) %>",
          options = {hideToolbar: true},
          viz = new tableau.Viz(containerDiv, trustedUrl, options);
    }
    $(document).ready(function() {
        $(initViz);
    });
  </script>
</html>